<!-- <div class="container">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock"></span> Social Authentication</h1>
        <p>Login or Register with:</p>
        <a href="http://localhost:8080/api/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>
    </div>
</div> -->

<div class="bg" style="height:100vh;background-size: cover;background-image: url('/assets/images/login/bg-01.jpg');">
    <div class="form_login">
        <div class="form_wrap">
            <div class="title text-center">
                Login
            </div>
<div class="clr-form-control">
    <label for="basic" class="clr-control-label">Basic input</label>
    <div class="clr-control-container"  style="width: 100%;" >
      <div class="clr-input-wrapper">
        <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <span class="clr-subtext">Helper Text</span>
    </div>
  </div>       
  <div class="clr-form-control">
    <label for="basic" class="clr-control-label">Basic input</label>
    <div class="clr-control-container">
      <div class="clr-input-wrapper">
        <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <span class="clr-subtext">Helper Text</span>
    </div>
  </div> 
            <span>Forgot password?</span>
            <button>Login</button>
        </div>
        <div class="socialBtn">
            <div class="title_social">Or Sign Up Using</div>
            <div class="flex-c-m">
                <a href="#" class="login100-social-item bg1">
                    <i class="fa fa-facebook"></i>
                </a>

                <a href="#" class="login100-social-item bg2">
                    <i class="fa fa-twitter"></i>
                </a>

                <a href="#" class="login100-social-item bg3">
                    <i class="fa fa-google"></i>
                </a>
            </div>
        </div>
        <div class="footerLogin">
            <span>Or Sign Up Using</span>
            <span>SIGN UP</span>
        </div>
    </div>
</div>