<div>
    <h3 class="text-center">Random</h3>
    <div class="lg:container">
        <div class="flex">
            <div class="w-2/3">
                <div>
                    <button>Ca</button>
                    <button>cua</button>
                    <button>Tom</button>
                </div>
            </div>
            <div class="w-1/3">
            <button>Dat Cuoc</button>
            </div>
        </div>
    </div>
</div>
<div class="flex h-64">
    <div class="w-1/2 bg-gray-500">
    <div class="container">
        <div class="flex flex-wrap">
            <button *ngFor="let item of listBauCua" class="w-1/3">
            <img (click)="datBauCua(item)" src="" alt={{item.name}}> {{item.value}}
            </button>
        </div>
    </div>
    <div class="info">
       <a href="">HOme</a>
       <span>{{totalMoney}}$</span>
    </div>
    </div>
    <div class="w-1/2 bg-pink-500">
    <div class="listMoney">
        <div class="flex flex-wrap">
            <button *ngFor="let item of listMoney" class="w-1/4">
                <img (click)="handleBet(item)" style="width: 100%" src="../../assets/images/money/{{item}}.jpg" alt="">
            </button>
        </div>
        <div class="chooseMoney">
            <img src="" alt="">
        </div>
        <h3>Tong tien dat cuoc: {{tienDat}}</h3>
        <span (click)="reset()">Reset</span>
    </div>

    <div class="resultGame w-full">
        <div class="flex">
            <div *ngFor="let item of listChoose" class="w1/3">
            <!-- <img src="../../assets/images/money/0.jpg" alt=""> -->
            {{item}}
        </div>
        </div>
        <button (click)="quay()" class="">QUAY</button>
    </div>
    </div>
  </div>